body {

    height: 100vh; /*Set webpage maximum height*/

    margin: 0;    /*Set start reading 0,0*/
    padding: 0;

    background-color: white;  /*Set background color*/

    display: flex;  /*Set centered elements*/
    align-items: center;
    justify-content: center;
}

/*ELEMENTS*/

#home{
    height: 100vh;
    display: flex;  /*Set centered elements*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#navbar{
    margin: 0;    /*Set start reading 0,0*/
    padding: 0;  
}

        /**************************HOME*******************************/
                  #introSet{
                    height: 25em;
                    width: 52em;
                    /* background-color: blue;  */
                    border-radius: 1em;
                    display: flex;  /*Set centered elements*/
                    align-items: center;
                    justify-content: center;
                }
                
                #introFood{
                    height: 20em;
                    width: 26em;
                    /* background-color: yellow;  */
                    border-radius: 1em;
                    display: flex;  /*Set centered elements*/
                    align-items: center;
                    justify-content: center;
                }
                #introWords{
                    height: 16em;
                    width: 22em;
                    padding: 2em;  
                    border-radius: 1em;
                    display: flex; 
                    align-items: center;
                    justify-content: center;
                    font-style: italic;
                    font-size: 1em;
                    text-size-adjust: justify;
                    color:black;
                    text-align: justify;
                }

                
        /*******************CONTACT*********************/
                #contact{
                    height: 25em;
                    width: 52em;
                    /* background-color: blue;  */
                    border-radius: 1em;
                    display: flex;  
                    align-items: center;
                    justify-content: center;
                }

                #address{
                    height: 20em;
                    width: 26em;
                    border-radius: 1em;
                    display: flex;  
                    align-items: center;
                    justify-content: center;
                }
                #contactWords{
                    height: 16em;
                    width: 22em;
                    padding: 2em;  
                    border-radius: 1em;
                    display: flex; 
                    align-items: center;
                    justify-content: center;
                    font-style: italic;
                    font-weight: bold;
                    font-size: 2em;
                    text-size-adjust: justify;
                    color:black;
                    text-align: justify;
                }

                #map{
                    height: 20em;
                    width: 26em;
                    border-radius: 1em;
                    display: flex;  
                    align-items: center;
                    justify-content: center;
                }
                #mapG{
                    height: 20em;
                    width: 26em; 
                    border-radius: 1em;
                }
        /*********************MENU*******************/
                #menuFood{                   
                    height: 90vh;
                    border-radius: 1em;
                    display: flex;  /*Set centered elements*/
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    /* background-color: blue; */
                }
                #rowTop{
                    height: 40vh;
                    display: flex;  /*Set centered elements*/
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                }
                #rowBottom{
                    height: 40vh;
                    display: flex;  /*Set centered elements*/
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                }

                #colDaily{
                    height: 21em;
                    width: 16em;
                    /* background-color: red;  */
                    border-radius: 1em;
                    display: flex;  /*Set centered elements*/
                    align-items: center;
                    justify-content: center;
                    padding: 2em;
                    font-style: italic;
                    font-weight: bold;
                    font-size: 1em;
                    text-size-adjust: justify;
                    color:black;
                    text-align: justify;
                }
                #colTakeAway{
                    height: 21em;
                    width: 16em;
                    /* background-color: yellow;  */
                    border-radius: 1em;
                    display: flex;  /*Set centered elements*/
                    align-items: center;
                    justify-content: center;
                    padding: 2em;
                    font-style: italic;
                    font-weight: bold;
                    font-size: 1em;
                    text-size-adjust: justify;
                    color:black;
                    text-align: justify;

                }
                #colDelivery{
                    height: 21em;
                    width: 16em;
                    /* background-color: green;  */
                    border-radius: 1em;
                    display: flex;  /*Set centered elements*/
                    align-items: center;
                    justify-content: center;
                    padding: 2em;
                    font-style: italic;
                    font-weight: bold;
                    font-size: 1em;
                    text-size-adjust: justify;
                    color:black;
                    text-align: justify;
                }

/***************/
@media (max-width: 600px) {

}

/*CLASSES*/
/*ID*/